<%= form_for(@list) do |f| %>
  <dl>
    <dd class="form-line-item">
      <%= f.label :title, "Title", :class => "form-label" %>
      <%= f.text_field :title, :class => "form-textfield mid" %>
      <%= floating_explanation(@list, :title, "Give list a name") %>
      </dd>
    </dd>
    <dd class="form-line-item">
      <%= f.label :description, "Description", :class => "form-label" %>
      <%= f.text_area :description, :class => "form-textarea mid short-height" %>
      </dd>
    </dd>
    
    <dd class="form-line-item">
      <%= f.label :tag_list, "Add tags", :class => "form-label" %>
      <%= f.text_field :tag_list, :class => "form-textfield mid short-height"%>
    </dd>
    
    <dd class="form-line-item">
      <%= f.label :style, "Choose a list style", :class => "form-label" %>
      <%= f.radio_button :style, "numbers" %>  
      <%= f.label :style, "Numbered List" %>
      <%= f.radio_button :style, "bullets" %>
      <%= f.label :style, "Bulleted List" %>
    </dd>
    
    <dd class="form-line-item">
      <%= f.label :public, "Visibility", :class => "form-label" %>
      <%= f.radio_button :public, true %>  
      <%= f.label :public, "Public" %>
      <%= f.radio_button :public, false %>
      <%= f.label :public, "Private" %>
    </dd>
    <% if !@edit_mode %>
    <div id="list_items" style="display:none">
      <%= f.fields_for :list_items do |list_item_form|  %>
        <%= list_item_form.hidden_field :body, :class=>"target" %>
      <% end %>
    </div>
    <% end %>
    <dd class="form-line-item actions">
      <%= submit_tag "Save List", :class=> "minimal" %>
      <%= submit_tag "Delete List", :class=> "minimal red", :confirm => "Are you sure you want to delete this list?" if @edit_mode and current_user.creator_for_list?(@list) %> 
    </dd>
  </dd>
  </dl>
<% end %>
<script type="text/javascript">
  var data = "<%= @tags %>".split(", ");
  $('#list_tag_list').autocomplete(data, { multiple : true })
</script>
