<h3 class="list-title"><%= @list.title || "List Title" %></h3>
<ul class="list-meta">
  <li class="description"><%= @list.description || "List Description" %></li>
  <li class="tags">
    <label for="">Tags: </label>
    <span>
      <%= @list.tag_list.blank? ? "tag1, tag2" : @list.tag_list.join(", ") %>
    </span>
  </li>
  <li class-"author">
    <label for="">Author:</label>
    <span><%=  @list.creator.name %></span>
    <% if !@list.new_record? %>
      <span class="created_at">created <%= time_ago_in_words(@list.created_at) %> ago</span>
    <% end %>
  </li>
  <% if !@list.new_record? %>
  <li class="url">
    <label for="">Url:</label>
    <span><%= list_url(@list) %></span>
  </li>
  <% end %>
</ul>
