<% @creator_or_editor = current_user && (current_user.editor_for_list?(@list) || current_user.creator_for_list?(@list)) %>
<% if @creator_or_editor %>
  <%= render :partial => 'lists/list_actions' %>
<% end %>
<%= render :partial => 'lists/list_meta' %>

<!-- <% if @creator_or_editor %>
<div id="trash-can" style=""></div>    
<% end %> -->
<% if current_user %>
  <%= link_to "Copy List", new_list_path(:copy_list_id => @list.id), :class => "awesome small blue", :id=> "copy-list" %>
<% end %>
<% if @list.public? %>
<div id="add_this">
  <%= render :partial => "lists/addthis_widget" %>
</div>
<% end %>

<ul class="list-items">
  <%= render :partial => @list.list_items %>  
</ul>

<% if @creator_or_editor and @list_item %>
<div id="new-list-item-wrapper">
  <%  form_for [@list, @list_item] do |f| %>
  <%= f.text_field :body, :class => "form-textfield minimal-matching-height long"  %>
  <button class="minimal">Add Item</button>
  <% end %>
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    
    <% if @creator_or_editor %>
    $('.list-items').sortable({
      cursor : 'move', 
      stop : function(event, ui){
        $.ajax({
          url: "<%= sort_list_list_items_path(@list) %>",
          type: "put", 
          dataType: "html",
          data: $(this).sortable('serialize'),
          success: function(data){
            $(".list-items").html(data);
          }
        });
      }
    });
    
    $('#trash-can').droppable({
      tolerance: "pointer",
      activate: function(){
        $('#trash-can').remove("over");
        $('#trash-can').addClass("activated");
      },
      over: function(){
        $('#trash-can').removeClass("activated");
        $('#trash-can').addClass("over");
      },
      out: function(){
        $('#trash-can').addClass("activated");
        $('#trash-can').removeClass("over");
      },
      deactivate: function(){
        $('#trash-can').removeClass("activated");
        $('#trash-can').removeClass("over");
      },
      drop: function(event, ui){
        $(ui.draggable).remove();
        var list_item_id = $(ui.draggable).attr("id").replace(/list_item_/, "");
        $.ajax({
          url: "/lists/" + <%= @list.id %> + "/list_items/" + list_item_id,
          type: "delete", 
          dataType: "html",
          data: { id : list_item_id},
          success: function(data){
            $(".list-items").html(data);
          }
        });
      }
    });
    
    $('.list-item .check-off').live("click", function(e){
      $(e.target).parents('.list-item').find('.list-item-body').toggleClass("checked-off");
      $(e.target).parents('form').submit();
    });
    $('form#new_list_item').submit(function(e){
      e.preventDefault();
      if ($('#list_item_body').val() === ''){
        return false;
      }
      $.ajax({
        url : $(this).attr("action"),
        type: "post",
        dateType: "html",
        data: { list_item : { body : $('#list_item_body').val() }},
        success : function(data){
          $(".list-items").append(data);
          $('#list_item_body').val('').focus();
        }
      });
    });
    <% end %>
  });
</script>