<% page_title "Create a new list, Yeti - the best way to share and discover lists" %>
<% body_id "new" %>
<% body_class "list" %>

<% left_panel_nav("create-new-list") %>

<% content_for :left_panel_content do %>
  <%= render 'form' %>
<% end %>

<% content_for :right_panel_content do %>
  <h3 class="list-title">List Title</h3>
  <ul class="list-meta">
    <li class="description">List Description</li>
    <li class="tags">
      <label for="">Tags: </label>
      <span>
        tag1, tag2
      </span>
    </li>
  </ul>
  <%= @list_form.fields_for :list_items do |list_item_form|  %>
    <ul class="list-items">
    <li class="list-item second-to-last">
      <span class="list-style numbered">1</span>
      <span class="list-item-input">
        <%= list_item_form.text_field :body, :class => "form-textfield very-long short-height" %> 
      </span>
      <%= floating_explanation(@list, "list_items.body", "Enter something") %>
      <span class="list-item-body"></span>
    </li>      
    <li class="list-item last">
      <span class="list-style numbered">2</span>
      <span class="list-item-input">
        <%= list_item_form.text_field :body, :class => "form-textfield very-long short-height" %> 
      </span>
      <span class="list-item-body">
        click here to add more
      </span>
    </li>
    </ul>
  <% end %>
  <script type="text/javascript">
  
    $('.field_with_errors input').livequery("blur", function(){
      if ($(this).val() !== ""){          $(this).parents(".field_with_errors").next('.floating-explanation').fadeOut();
      }
    });
    
    $('.list-item .field_with_errors input').livequery("blur", function(){
      if ($(this).val() !== ""){          $(this).parents(".list-item").find('.floating-explanation').fadeOut();
      }
    });
    
    $('#list_title').delayedObserver(0.5, function(){
      $('h3.list-title').html($('#list_title').val());
    }, { event : 'keyup'} );
    
    $('#list_description').delayedObserver(0.5, function(){
      $('.description').html($('#list_description').val());
    }, { event : 'keyup'} );
    
    $('.list-item-input input').livequery("keyup", function(){
      $(this).parents(".list-item").find(".list-item-body").html($(this).val());
    });
    
    $('.list-item-input input').livequery("blur", function(){
      if (Yeti.isEmpty($(this).val()) ){
        return
      };
      $(this).parents(".list-item-input").hide();
      $(this).parents(".list-item").find(".list-item-body").show();
    });

    $('.list-item-body').livequery("click", function(){
      $(this).hide();
      $(this).parents(".list-item").find(".list-item-input").show();
      $(this).parents(".list-item").find(".list-item-input input").focus();
    });
    
    $('.list-item.last').livequery("click", function(){
      Yeti.clone_list_item(this);
    });
    
  </script>
<% end %>
