<%= render :partial => 'list_meta' %>

<div id="trash-can" style="background: transparent url(/images/icons/trash.png) no-repeat; width:24px; height:24px; padding: 10px; position: absolute; right: 0; top: 15px;"></div>    

<ul class="list-items">
  <%= render :partial => @list.list_items %>  
</ul>

<div id="new-list-item-wrapper">
  <%  form_for [@list, @list_item] do |f| %>
  <%= f.text_field :body, :class => "form-textfield minimal-matching-height long"  %>
  <button class="minimal">Add Item</button>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.list-items').sortable({
      handle : '.list-style',
      cursor : 'move', 
      stop : function(event, ui){
        $.ajax({
          url: "<%= sort_list_list_items_path(@list) %>",
          type: "put", 
          dataType: "html",
          data: $(this).sortable('serialize'),
          success: function(data){
            $(".list-items").html(data);
          }
        });
      }
    });
    
    // $('.list-item').draggable();
    $('#trash-can').droppable({
      tolerance: "pointer",
      over: function(){
        
      },
      drop: function(event, ui){
        $(ui.draggable).hide();
        var list_item_id = $(ui.draggable).attr("id").replace(/list_item_/, "");
        $.ajax({
          url: "/lists/" + <%= @list.id %> + "/list_items/" + list_item_id,
          type: "delete", 
          dataType: "html",
          data: { id : list_item_id},
          success: function(data){
            $(".list-items").html(data);
          }
        });
      }
    });
    $('form#new_list_item').submit(function(e){
      e.preventDefault();
      if ($('#list_item_body').val() === ''){
        return false;
      }
      $.ajax({
        url : $(this).attr("action"),
        type: "post",
        dateType: "html",
        data: { list_item : { body : $('#list_item_body').val() }},
        success : function(data){
          $(".list-items").append(data);
          $('#list_item_body').val('').focus();
        }
      });
    });
  });
</script>