<%= form_for(@user || @user = User.new) do |f| %>
  <!-- <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %> -->
  <dl>
      <dd class="form-line-item">
        <label for="" class="form-label">Username:</label>
        <%= f.text_field :name, :class => "form-textfield mid" %>
        <%= floating_explanation(@user, :name, "Please choose a unique name") %>
        <!-- <div class="floating-explanation name"><span class="yellow-tip"></span>Please choose a name</div> -->
      </dd>
      <dd class="form-line-item">
        <label for="" class="form-label">Email:</label>
        <%= f.text_field :email, :class => "form-textfield mid" %>
        <%= floating_explanation(@user, :email, "Please enter your email") %>
        <!-- <div class="floating-explanation email"><span class="yellow-tip"></span>Please enter your email</div> -->
        </dd>
      <dd class="form-line-item">
        <label for="" class="form-label">Password:</label>
        <%= f.password_field :password, :class => "form-textfield mid" %>
        <%= floating_explanation(@user, :password, "Please enter a password") %>
      </dd>
    </dl>
  <div class="actions">
    <a href="#" class="awesome gray large submit" id="sign-up-button">SIGN UP &raquo;</a> <span class="spinner hide"></span>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new_user input').focus(function(e){
      $(this).parents(".form-line-item").find(".floating-explanation").fadeIn();
    });
    
    $('#new_user input').blur(function(e){
      $(this).parents(".form-line-item").find(".floating-explanation").fadeOut();
    });
  })
</script>
