<% content_tag_for :li, list_item, :class=>"list-item" do  %>
  <% next if list_item.new_record? %>
  <span class="list-style numbered"><%= list_item.position %></span>
  <!-- <span class="list-item-input">
    <input type="textfield", class="form-textfield very-long short-height" value="<%= list_item.body %>">
  </span> -->
  <%= floating_explanation(@list, "list_items.body", "Enter something") %>
  <span class="list-item-body show-inline"><%= list_item.body %></span>
  <%= link_to "#", list_list_item_path(@list, list_item), :class => "hide list-item-link" %>
<% end %>

