<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag "reset", "global", "landings" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
  </script>
  <%= javascript_include_tag "application", "jquery.cycle.min" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= yield :body_class -%>" id="<%= yield :body_id %>">
  <div id="top">
    <div id="header">
      <div id="logo" style="padding-top: 25px;">
        <img src="/images/logo-top.png" alt="">
      </div>
      <div id="tag-line" style="color: white; font-family: arial; font-size: 36px; padding-top: 25px; text-shadow: #333 -1px -1px;"></div>

      <% form_for UserSession.new do |f| -%>
      <ul id="login">
        <li>
          <label for="" class="form-label green">Email</label>
          <%= f.text_field :email, :class => "form-textfield green mi-short" %>
        </li>
        <li>
          <label for="" class="form-label green">Password</label>
          <%= f.password_field :password, :class => "form-textfield green short" %>
        </li>
        <li style="padding-top: 17px"><button class="simple-button orange-red">Sign In</button></li>
      </ul>
      <% end -%>
    </div>
  </div>
  <div id="container">
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div id="bottom">
    <div id="footer">
      <ul id="footer-nav" class="clearfix">
        <li>About</li>
        <li>Help</li>
        <li>Terms of Service</li>
        <li>Blog</li>
        <li>Jobs</li>
      </ul>
    </div>
  </div>
</body>
</html>
