<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag "reset", "global", "landings", "user", "jquery.jgrowl", "custom" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
  </script>
  <%= javascript_include_tag "jquery.cycle.min", "jquery.jgrowl_minimized", "jquery.livequery", "jquery.delayedobserver", "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= yield :body_class -%>" id="<%= yield :body_id %>">
  <div id="flash_message">
    <%= render :partial=>"layouts/flash", :locals=>{ :flash => flash } %>
  </div>

  <div class="notify-container"></div>

  <div id="top">
    <div id="header">
      <%= render :partial => 'layouts/logo' %>

      <div id="tag-line" style="color: white; font-family: arial; font-size: 36px; padding-top: 25px; text-shadow: #333 -1px -1px;"></div>
      <% if current_user %>
        <%= render :partial => 'layouts/user_menu' %>
        <ul id="global-nav">
          <li class="browse"><a href="#">Browse</a></li>
        </ul>
      <% else %>
        <%= render :partial => 'layouts/login_header' %>
      <% end %>
    </div>
  </div>
  <div id="container">
    <div id="content">
      <%= yield :content %>
    </div>
  </div>
  <div id="bottom">
    <div id="footer">
      <ul id="footer-nav" class="clearfix">
        <li>About</li>
        <li>Help</li>
        <li>Terms of Service</li>
        <li>Blog</li>
        <li>Jobs</li>
      </ul>
    </div>
  </div>
</body>
<script type="text/javascript">
  $(document).ready(function(){
   
  });
</script>
</html>
