<% content_for :content do %>
<div id="wrapper">
  <div id="search-or-create" class="clearfix">
    <ul>
      <li>
        <form action="/search">
          <input type="textfield" class="form-textfield mid">
          <button class="minimal">Search Lists</button>
        </form>
      </li>
      <li id="create-a-list">
        <%= link_to "Create a list", new_list_path, :class => "minimal"  %>
      </li>
      <li id="browse-lists">
        <%= link_to "Browse", "#", :class => "minimal"  %>
      </li>
    </ul>
  </div>
  <div id="main" class="clearfix">
    <div id="left-panel">
      <ul id="left-panel-nav">
        <%= yield :left_panel_nav %>
      </ul>
      <div id="left-panel-content">
        <%= yield :left_panel_content %>
      </div>
    </div>
    <div id="right-panel">
        <ul id="right-panel-nav">
          <%= yield :right_panel_nav %>
        </ul>
        <div id="right-panel-content" style="position:relative;">
          <%= yield :right_panel_content %>
        </div>        
    </div>
  </div>
</div>
<% end %>

<%= render :file => 'layouts/application' %>

